{% extends "admin/layout.html"%}

{% block content %}
<div class="container">
    {% include 'admin/navbar.html' %}
    <h4 class="text-center my-3">
        Admin Change Password
    </h4>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category,message in messages %}
            <div class="alert alert-{{category}}">
                <strong>{{message}}</strong>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="card">
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="my-2">
                            <label for=""><b>Enter Your Username</b></label>
                            <input type="text" name="username" id="username" class="form-control my-1"
                                value="{{admin.username}}">
                        </div>
                        <div class="my-2">
                            <label for=""><b>Enter Your New Password</b></label>
                            <input type="password" name="password" id="password" class="form-control my-1">
                        </div>
                        <button class="btn btn-success">Change Password</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
