<div class="row d-flex justify-content-center">
    <div class="col-xl-3 col-lg-3 col-md-3 my-2 col-sm-12">
        <a href="/admin/dashboard" class="btn btn-info w-full">Dashboard</a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 my-2 col-sm-12">
        <a href="/admin/get-all-user" class="btn btn-info w-full">All User</a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 my-2 col-sm-12">
        <a href="/admin/change-admin-password" class="btn btn-info w-full">Change Password</a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 my-2 col-sm-12">
        <a href="/admin/logout" class="btn btn-danger w-full">Logout</a>
    </div>
</div>
