{% extends "user/layout.html"%}

{% block content %}
<div class="container">
    <h1 class="text-center my-3">
        User Login
    </h1>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category,message in messages %}
            <div class="alert alert-{{category}}">
                <strong>{{message}}</strong>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="card">
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="my-2">
                            <label for=""><b>Enter Your Email</b></label>
                            <input type="email" name="email" id="email" class="form-control my-1">
                        </div>
                        <div class="my-2">
                            <label for=""><b>Enter Your Password</b></label>
                            <input type="password" name="password" id="password" class="form-control my-1">
                        </div>
                        <button class="btn btn-success">Login</button>
                        <span class="d-flex align-items-center">If you have't Account ? <a href="/user/signup"
                                class="text-center nav-link">Signup</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
