{% extends "user/layout.html"%}

{% block content %}
<div class="container">
    {% include 'user/navbar.html' %}
    <h4 class="text-center my-3">
        User Profile Update
    </h4>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category,message in messages %}
            <div class="alert alert-{{category}}">
                <strong>{{message}}</strong>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="card">
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="my-2">
                            <label for=""><b>Enter Your First Name</b></label>
                            <input type="text" value="{{users.fname}}" name="fname" id="fname"
                                class="form-control my-1">
                        </div>
                        <div class="my-2">
                            <label for=""><b>Enter Your Last Name</b></label>
                            <input type="text" value="{{users.lname}}" name="lname" id="lname"
                                class="form-control my-1">
                        </div>
                        <div class="my-2">
                            <label for=""><b>Enter Your UserName</b></label>
                            <input type="text" value="{{users.username}}" name="username" id="username"
                                class="form-control my-1">
                        </div>
                        <div class="my-2">
                            <label for=""><b>Enter Your Email</b></label>
                            <input type="email" value="{{users.email}}" name="email" id="email"
                                class="form-control my-1">
                        </div>
                        <div class="my-2">
                            <label for=""><b>Enter Your Education</b></label>
                            <input type="text" value="{{users.edu}}" name="edu" id="edu" class="form-control my-1">
                        </div>
                        <button class="btn btn-success">Change profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
